<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Husk Ha Mocks</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/HuskMock.styles.css" asp-append-version="true" />*@
</head>
<body>
    <header class="container-fluid mb-3">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black border-bottom box-shadow fixed-top">
            <div class="container-fluid ">
                <div class="col">
                    <button class="navbar-toggler float-start" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between float-start">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Setup">Setup</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Shop" asp-action="Shop">Shop</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Pictures">Pictures</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Spots">Spots</a>
                            </li>
                            <li class="nav-item">
                                <partial name="_LoginPartial" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img class="mx-auto d-block img-fluid p-0 w-25" src="/img/Husk-Wide.jpg" alt="HuskHammocks">
                    </a>
                </div>
                <div class="col float-end">
                    <a class="navbar-brand float-end" asp-area="" asp-controller="Cart" asp-action="Cart">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <div class="container pt-5">
        <main role="main" class="mt-5 ">

            @RenderBody()
        </main><div style="height:80px"></div>
    </div>

    <footer class="container-fluid footer text-muted pt-0  pb-0">
        <nav class="navbar navbar-light bg-white border-top box-shadow fixed-bottom  ">
            <div class="container-fluid ">
                <div class="col">
                    HuskMocks - <a asp-area="" asp-controller="Contact" asp-action="Contact">Contact</a>
                </div>
                <div class="col text-center">
                    <a data-testid="linkElement" href="https://www.instagram.com/huskhammocks"><wix-image data-src="https://static.wixstatic.com/media/01c3aff52f2a4dffa526d7a9843d46ea.png/v1/fill/w_28,h_28,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Instagram.png"><img alt="Instagram" style="width: 20px; height: 20px; object-fit: cover;" src="https://static.wixstatic.com/media/01c3aff52f2a4dffa526d7a9843d46ea.png/v1/fill/w_28,h_28,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Instagram.png"></wix-image></a>

                    <a data-testid="linkElement" href="https://www.facebook.com/HuskHammocks/?ref=aymt_homepage_panel&amp"><wix-image data-src="https://static.wixstatic.com/media/0fdef751204647a3bbd7eaa2827ed4f9.png/v1/fill/w_28,h_28,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Facebook.png"><img alt="Facebook" style="width: 20px; height: 20px; object-fit: cover;" src="https://static.wixstatic.com/media/0fdef751204647a3bbd7eaa2827ed4f9.png/v1/fill/w_28,h_28,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Facebook.png"></wix-image></a>
                </div>
                <div class="col"></div>
            </div>
        </nav>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", false)
</body>
</html>
