@{
    ViewData["Title"] = "Home";
}

<div>
    <div class="text-center">
        <h1 class="display-4 fw-bolder pb-4">Welcome</h1>
    </div>

    <div class="container bg-black py-4 px-3 rounded-3">
        <div class="text-center pb-4">
            <img src="~/img/Abbey.jpg" class="img-fluid pb-4 pt-3" alt="Responsive image">
        </div>

        <div class="row">
            <div class="col-md text-white">
            <h3 class="text-center">About your Husk Hammock</h3>
            <br />            
            <p class="px-4">
            Husk Hammocks are constructed of high strength parachute nylon fabric, which is strong, durable, colourfast, portable and mildew resistant. Each pack comes equipped with two tree saver straps and two heavy duty, lightweight carbiners and attached compression bag for a quick, efficient pack down that will leave your spot in tact and as it were.
            Husk Hammocks are ready to use anywhere. Each hammock comes with everything you need, so you can hang your hammock wherever you go.
            </p>
        </div>

            <div class="text-center col-md">
            <img src="~/img/DoublePack.jpg" class="img-fluid" alt="Responsive image">
        </div>   
        </div>
    </div>

    <div class="pt-5 mt-5 text-center">
        <h2>onetreeplanted.org</h2><br />
        <p>Here at Husk Hammocks we are proud to support onetreeplanted.org in their mission to reforest the planet one tree at a time. To find out more click the link below.</p>
        <a href="https://onetreeplanted.org/"><img src="~/img/otp.jpg" class="img-fluid" width="30%" alt="Responsive image"></a>


    </div>
    
</div>
