@{
    ViewData["Title"] = "Setting up your hammock";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row ">
        <div class=" col-md">
            <img class="img-fluid w-75" src="~/img/setup.jpg" />
        </div>
        <div class="col-md">
            <h3>Setting up</h3>
            <p>
                Setting up your hammock is quick and easy. Here are some pointers to get you on your way.<br />
            </p>
            <ul>
                <li>Firstly check around the area to make sure there aren't any loose branches or insect nests.</li>
                <li>
                    The trees should be around 12-15feet apart (roughly six steps)
                </li>
                <li>Attach your tree saver straps around head high. Checking the trees are sturdy and alive.</li>
                <li>
                    Make sure the hammock is hanging central between the trees. This can be easily adjusted if needs be with the quick release carabiners supplied. Finding a 30degrees hang is optimal.
                </li>
                <li>
                    Once you are happy with your placement, spread the hammock out, simply sit back on it like a chair and swivel your legs around.
                </li>
            </ul>
        </div>
    </div>
</div>